@media screen and (min-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .col-centered {
        float: none;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}
.header-message {
    color: #ff0000; 
    text-align: center;
}
#loginModal {
    margin: auto;
    width: 25em;
}
.btn-success {
    margin-top: 1.5em;
}
.btn-primary {
    margin-top: 1.5em;
}
.control-label {
    margin-bottom: 0;
    padding-top: 7px;
}
.signref {
    margin: 2em;
    position: fixed;
}
